.inputField {
  padding: 10px;
  font-size: 20px;
  width: 400px;
  height: 30px;
  color: #18526d;
  border: none;
  outline: none;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.15),
    inset 2px 2px 5px rgb(196, 221, 252),
    inset -3px -3px 5px rgba(0, 0, 0, 0.15);
  background-color: #f7f7f0;
}

@media (max-width: 420px) {
  .inputField {
    padding: 5px;
    font-size: 15px;
    width: 200px;
    height: 20px;
  }
}
