.container {
  display: flex;
  justify-content: space-between;
}

.icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.li {
  word-wrap: break-word;
}

.createdTime {
  color: #18526d;
  font-size: 12px;
}

.imgBtn {
  width: 18px;
}

@media (max-width: 420px) {
  .imgBtn {
    width: 10px;
  }

  .li {
    word-wrap: break-word;
  }

  .createdTime {
    font-size: 10px;
  }
}
