.images {
  width: 200px;
}

.animation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}




@media (max-width: 420px) {
  .images {
    width: 150px;
  }
}

