.images {
  width: 200px;
}

.animation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

@media all and (max-width: 1024px) {
  .images {
    width: 100px;
  }

  .animation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
