.AddButton {
  width: 40px;
}

.btn {
  margin-left: 10px;
  outline: none;
  background: #c4ddfc;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.15),
    inset 2px 2px 5px rgb(196, 221, 252),
    inset -3px -3px 5px rgba(0, 0, 0, 0.15);
  border: none;
  color: #18526d;
  font-family: "Fredericka the Great", cursive;
}
