.header,
.Loading {
  color: #18526d;
  font-size: 40px;
  font-family: "Fredericka the Great", cursive;
}

.notePage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 6%;
}

.noteContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 40px;
}

@media all and (max-width: 1024px) {
  .notePage {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    margin-top: 40px;
  }

  .header,
.Loading {
  font-size:30px;
}

  .animationContainer {
    width: 100%;
    height: 100vh;
  }

  .noteContainer {
    width: 100%;
    height: 100vh;
  }
}

@media all and (max-width: 420px) {
  .notePage {
    padding: 10px;
  }
  .header,
.Loading {
  font-size:20px;
}

}
