.header,
.Loading {
  font-size: 40px;
  color: #18526d;
  font-family: "Fredericka the Great", cursive;
}

.note {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media all and (max-width: 1024px) {
  .note {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
    height: 100vh;
  }

  .first {
    width: 100%;
    height: 100vh;
  }

  .second {
    width: 100%;
    height: 100vh;
  }
  .header {
    font-size: 18px;
  }
}

@media all and (max-width: 420px) {
  .note {
    padding: 10px;
  }
  .header {
    font-size: 18px;
  }
}
